@import "tailwindcss";

@theme {
  /* Color */
  --color-primary-orange: #f0773f;
  --color-primary-odoo: #f3f4f6;
  --color-secondary-orange: #d36532;
  --color-secondary-white: #ffffff;
  --color-secondary-gray: #2a2a2a;
  --color-secondary-odoo: #714b67;
  --color-secondary-odooDark: #5c3f54;



  /* Fonts */
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  --font-figtree: var(--font-figtree)

}

html {
  scroll-behavior: smooth;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInOpacity 1.2s ease-in-out infinite alternate;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}


@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}


.animate-scroll-up {
  animation: scrollUp 95s linear infinite;
}


.animate-scroll-right {
  animation: scrollRight 95s linear infinite;
}

.animate-scroll-down {
  animation: scrollDown 95s linear infinite;
}

.animate-scroll-left {
  animation: scrollLeft 95s linear infinite;
}

.swiper,
.swiper-wrapper {
  overflow-x-:auto !important;
  overflow-y-:visible !important;
}



.swiper-slide{
  height: 100% !important;
}
.swiper-pagination {
  bottom: -20px !important;
  text-align: center;
  z-index: 20;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.3 !important;
}

.swiper-pagination-bullet-active {
  background: #f0773f !important;
  opacity: 1 !important;
  transform: scale(1.2);
}